In [1]:
import pandas as pd # Cargamos la libreria de "pandas" para la manipulación y el análisis de datos
import numpy as np # Cargamos la librería de "numpy" para realizar cálculos lógicos y matemáticos sobre cuadros y matrices en el caso que lo necesitemos
import pyarrow #Cargando la librería "json" nos permitira manipular archivos tipo parquet
import json #Cargando la librería "json" nos permitira manipular archivos tipo JSON
import re
import warnings
warnings.filterwarnings("ignore")
import re

### BUSINESS YELP

In [2]:
import pandas as pd
from IPython.display import display

# Read the parquet file into a DataFrame
businessdf = pd.read_parquet('1.business_yelp.parquet')

# Display the DataFrame
display(businessdf)

,business_id,name,city,state,latitude,longitude,stars business,restaurant review count,Lunes horarios,Martes horarios,Miércoles horarios,Jueves horarios,Viernes horarios,Sábado horarios,Domingo horarios
0,aNtKyc2rr-uK5cqzY9TVQQ,Chipotle Mexican Grill,Largo,Florida,27.894167,-82.779866,3.0,19,0:0-0:0,10:45-22:0,10:45-22:0,10:45-22:0,10:45-22:0,10:45-22:0,10:45-22:0
1,XwoXi0M66RU6Gouq-DSDHw,G Peppers Grill & Tavern,Citrus Park,Florida,28.092136,-82.578574,4.0,82,11:0-22:0,11:0-22:0,11:0-22:0,11:0-22:0,11:0-23:0,11:0-23:0,10:30-21:0
2,uKEabBQrn0gLzvTppOrKIA,Casita Taqueria,Saint Petersburg,Florida,27.796976,-82.638168,4.5,207,11:0-21:0,11:0-21:0,11:0-21:0,11:0-21:0,11:0-22:0,11:0-22:0,None
3,L0-MS0MbQhEWAPLkjCqhpg,O'Shucks Seafood & Grill,Madeira Beach,Florida,27.785218,-82.782112,3.5,29,11:0-22:0,11:0-22:0,11:0-22:0,11:0-22:0,11:0-22:0,11:0-22:0,11:0-22:0
4,3Kj0DlqXWTGqi6GUsM0Nfg,El Rancho Mexican Grill,Port Richey,Florida,28.286743,-82.715290,2.5,9,11:30-21:0,11:30-21:0,11:30-21:0,11:30-21:0,12:0-21:30,12:0-21:30,12:0-20:0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
707,KjjizCh7mp7AjBwRZpi9EA,Tequila Mexican Restaurant And Grill,SD,Florida,28.032217,-82.367921,3.0,64,11:0-22:0,11:0-22:0,11:0-22:0,11:0-22:0,11:0-22:0,11:0-22:0,11:0-22:0
708,0jETEp-kxQUA9nLTEuaZeQ,Carmelita's Mexican Restaurant,SD,Florida,27.819213,-82.753403,3.5,174,11:0-21:0,11:0-21:0,11:0-21:0,11:0-21:0,11:0-21:0,11:0-21:0,11:0-21:0
709,c6RWw740cIB9-efs9tSLyg,Pinch a Taco,Tampa,Florida,27.892254,-82.493984,5.0,34,None,None,None,None,None,None,None
710,hezQG50YXqdgxkhl2R9OuQ,Taco Bell,Holiday Village,Florida,27.996400,-82.565400,1.5,30,8:0-1:0,8:0-1:0,8:0-1:0,8:0-1:0,8:0-2:0,8:0-2:0,8:0-1:0
711,0a9Miij7BFmKm83Iqni5sA,Capital Tacos,Wesley Chapel,Florida,28.186629,-82.366184,4.0,754,0:0-0:0,11:0-21:0,11:0-21:0,11:0-15:0,11:0-21:0,11:0-21:0,11:0-20:0

### REVIEWS YELP

In [3]:
# Read the parquet file into a DataFrame
reviewdf = pd.read_parquet('2.review_yelp.parquet')

# Display the DataFrame
display(reviewdf)

,review_id,user_id,business_id,stars review,text,fecha review,hora entera review,dia review
0,cCs7yPSyk8NdA-Ufoz_7hw,FodM8aoGMQO2zsQCQxBTYQ,v5ktgWMAARaczTMh2rAJKg,2,The service here has gone down. We used to go ...,2017-12-27,2,Miércoles
1,8ZDUB-Y6JFxex541jHprGg,bIXslp2Sojhp9OcA-PNTvw,-zsvmEbkd-K9K2DAAKqiEQ,5,Thoroughly enjoyed our visit to Salty's this e...,2018-07-17,2,Martes
2,Naht5FrBGZDFGjwCQ-DyMw,QKoP7XabOXXWIkTwvYyCiA,xGUAa3xa8KsmbolC3XboQg,5,Xtreme Tacos has become one of my favorite pla...,2017-10-02,16,Lunes
3,Au_hzNqry6cPlnUGklB8QQ,lE5pLYWxkjhwwNywRc5q_Q,pjb3xGA9ccjl49B5ERH46w,1,Spent way too much money to get actually spoil...,2017-09-20,17,Miércoles
4,08zRc30-H07BsVo9LsIBeQ,xyFV6RJvioJWBLe6VRfqAA,-zsvmEbkd-K9K2DAAKqiEQ,5,"Live music, nice patio seating, large bar with...",2017-12-02,18,Sábado
...,...,...,...,...,...,...,...,...
46248,6iLfgKeFrzA2kbuXDOK9ng,j3X-vOFNaDsSq5rHNA984A,LgaPsosgAnyNst8X--xnIA,2,I tried to order a steak tostada and I was tol...,2021-12-07,18,Martes
46249,gGdC75nHWPsftA6Q_ooaDw,mNp-w-r2CVM7wPjP5UbPng,VVarKkODJTs_qx_gz4Hxbg,5,"In rating chain restaurants, one has to stay a...",2017-05-28,11,Domingo
46250,f9odrk0XCRtMsNL0kQZDYg,q4BwmLQ3GixSMl_3t-bAvw,Hywj7lDRT7x5V9l6fiAKpQ,5,Yum! I'm a west coat girl who loves her Authe...,2020-09-20,18,Domingo
46251,3UUN6-33ZLspm0K36hsD9A,ke_64n5NQD3UyFMHEIE9Bg,lrowppSl2sk3hU4tSUaS6Q,5,Amazing food and service! had the chicharrones...,2021-10-06,21,Miércoles
46252,vyKPnyBiqlT8fzMOuD7PtQ,QD-Qmn5s0OZJ8uwcUmABrA,c6RWw740cIB9-efs9tSLyg,5,Small authentic Mexican restaurant. Very frien...,2019-07-12,17,Viernes

### REVIEWS GOOGLE

In [4]:
# Read the parquet file into a DataFrame - este google 
reviewsfloridadf = pd.read_parquet('3.Reviews_florida_google.parquet')

# Display the DataFrame
display(reviewsfloridadf)

,user_id,user_name,rating,text,resp,gmap_id,business_name,category,city,State_review,date,hour,day
0,1.176490e+20,Jane Cook,5,any time we are in Pompano Beach we go for lun...,No,0x88d90319155c44a9:0x9abfade11830d0ca,Starlight Restaurant & Lounge,Mexican restaurant,Pompano Beach,Florida,2015-05-25,17,Monday
1,1.041909e+20,Mark Felix,4,Good service. Food was so so.,No,0x88d90319155c44a9:0x9abfade11830d0ca,Starlight Restaurant & Lounge,Mexican restaurant,Pompano Beach,Florida,2017-11-14,9,Tuesday
2,1.121549e+20,Yanio w Alfonso,1,Nasty place and very expensive.,No,0x88d90319155c44a9:0x9abfade11830d0ca,Starlight Restaurant & Lounge,Mexican restaurant,Pompano Beach,Florida,2018-08-19,6,Sunday
3,1.126933e+20,Carlos San Luis,5,Good mexican food,No,0x88d90319155c44a9:0x9abfade11830d0ca,Starlight Restaurant & Lounge,Mexican restaurant,Pompano Beach,Florida,2018-01-01,15,Monday
4,1.131080e+20,Maigra Hernandez,5,Tacos were great,No,0x88d90319155c44a9:0x9abfade11830d0ca,Starlight Restaurant & Lounge,Mexican restaurant,Pompano Beach,Florida,2018-03-04,15,Sunday
...,...,...,...,...,...,...,...,...,...,...,...,...,...
67320,1.134588e+20,Ade,1,None,No,0x88d9bf290ee132e7:0x771f3f6950e264db,Taco Bus Miami,Mexican restaurant,Miami,Florida,2020-04-01,3,Wednesday
67321,1.182218e+20,Ambar Escribano,5,None,No,0x88d9bf290ee132e7:0x771f3f6950e264db,Taco Bus Miami,Mexican restaurant,Miami,Florida,2021-03-31,20,Wednesday
67322,1.175239e+20,Johana Murillo,5,None,No,0x88d9bf290ee132e7:0x771f3f6950e264db,Taco Bus Miami,Mexican restaurant,Miami,Florida,2020-09-14,18,Monday
67323,1.045610e+20,Robert Angulo,5,None,No,0x88d9bf290ee132e7:0x771f3f6950e264db,Taco Bus Miami,Mexican restaurant,Miami,Florida,2020-09-28,6,Monday
67324,1.154438e+20,Anthony Porras,4,None,No,0x88d9bf290ee132e7:0x771f3f6950e264db,Taco Bus Miami,Mexican restaurant,Miami,Florida,2021-03-23,2,Tuesday

In [5]:
#agregar una columna al dataframe reviewsfloridadf que llame 'avg_rating' y que contenga el promedio de los valores de la columna 'rating' para cada 'business_name' unico, 'city' unico y 'gmap_id' unico. El rating debe ser un numero con un decimal
reviewsfloridadf['avg_rating'] = reviewsfloridadf.groupby(['business_name', 'city', 'gmap_id'])['rating'].transform('mean')
reviewsfloridadf['avg_rating'] = reviewsfloridadf['avg_rating'].round(1)
reviewsfloridadf

,user_id,user_name,rating,text,resp,gmap_id,business_name,category,city,State_review,date,hour,day,avg_rating
0,1.176490e+20,Jane Cook,5,any time we are in Pompano Beach we go for lun...,No,0x88d90319155c44a9:0x9abfade11830d0ca,Starlight Restaurant & Lounge,Mexican restaurant,Pompano Beach,Florida,2015-05-25,17,Monday,3.8
1,1.041909e+20,Mark Felix,4,Good service. Food was so so.,No,0x88d90319155c44a9:0x9abfade11830d0ca,Starlight Restaurant & Lounge,Mexican restaurant,Pompano Beach,Florida,2017-11-14,9,Tuesday,3.8
2,1.121549e+20,Yanio w Alfonso,1,Nasty place and very expensive.,No,0x88d90319155c44a9:0x9abfade11830d0ca,Starlight Restaurant & Lounge,Mexican restaurant,Pompano Beach,Florida,2018-08-19,6,Sunday,3.8
3,1.126933e+20,Carlos San Luis,5,Good mexican food,No,0x88d90319155c44a9:0x9abfade11830d0ca,Starlight Restaurant & Lounge,Mexican restaurant,Pompano Beach,Florida,2018-01-01,15,Monday,3.8
4,1.131080e+20,Maigra Hernandez,5,Tacos were great,No,0x88d90319155c44a9:0x9abfade11830d0ca,Starlight Restaurant & Lounge,Mexican restaurant,Pompano Beach,Florida,2018-03-04,15,Sunday,3.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67320,1.134588e+20,Ade,1,None,No,0x88d9bf290ee132e7:0x771f3f6950e264db,Taco Bus Miami,Mexican restaurant,Miami,Florida,2020-04-01,3,Wednesday,4.4
67321,1.182218e+20,Ambar Escribano,5,None,No,0x88d9bf290ee132e7:0x771f3f6950e264db,Taco Bus Miami,Mexican restaurant,Miami,Florida,2021-03-31,20,Wednesday,4.4
67322,1.175239e+20,Johana Murillo,5,None,No,0x88d9bf290ee132e7:0x771f3f6950e264db,Taco Bus Miami,Mexican restaurant,Miami,Florida,2020-09-14,18,Monday,4.4
67323,1.045610e+20,Robert Angulo,5,None,No,0x88d9bf290ee132e7:0x771f3f6950e264db,Taco Bus Miami,Mexican restaurant,Miami,Florida,2020-09-28,6,Monday,4.4
67324,1.154438e+20,Anthony Porras,4,None,No,0x88d9bf290ee132e7:0x771f3f6950e264db,Taco Bus Miami,Mexican restaurant,Miami,Florida,2021-03-23,2,Tuesday,4.4

In [6]:
#el promedio de avg_rating para todos los business_name que sean Taco Bell
tacobell = reviewsfloridadf[reviewsfloridadf['business_name'] == 'Taco Bell']
tacobell['avg_rating'].mean()

3.7998268319358366

In [7]:
#el promedio de avg_rating para todos los business_name que no sean Taco Bell
notacobell = reviewsfloridadf[reviewsfloridadf['business_name'] != 'Taco Bell']
notacobell['avg_rating'].mean()

4.309326921370646

In [8]:
#mostar cuantos business_name = Taco Bell tiene city = miami en reviewsfloridadf
reviewsfloridadf[(reviewsfloridadf['business_name'] == 'Taco Bell') & (reviewsfloridadf['city'] == 'Miami')].shape[0]

540

In [9]:
#mostrar todos los business_name = Taco Bell que tengan city = miami por gmap_id unico reviewsfloridadf
reviewsfloridadf[(reviewsfloridadf['business_name'] == 'Taco Bell') & (reviewsfloridadf['city'] == 'Miami')]

,user_id,user_name,rating,text,resp,gmap_id,business_name,category,city,State_review,date,hour,day,avg_rating
9552,1.116878e+20,Mazātl Love,4,"Love this tacobell, I have never had an issue ...",No,0x88d9b7a4d8c67e39:0xc813abb5511d8ccb,Taco Bell,Mexican restaurant,Miami,Florida,2021-03-04,14,Thursday,4.0
9553,1.159205e+20,Theresa Morales,5,I went through the drive through but I don't h...,No,0x88d9b7a4d8c67e39:0xc813abb5511d8ccb,Taco Bell,Mexican restaurant,Miami,Florida,2021-05-27,19,Thursday,4.0
9554,1.162755e+20,Irene Sanchez Amador (Wayfinder Wix & Things),4,They forgot my cinnamon twists.. again other t...,No,0x88d9b7a4d8c67e39:0xc813abb5511d8ccb,Taco Bell,Mexican restaurant,Miami,Florida,2021-04-07,12,Wednesday,4.0
9555,1.135806e+20,JULIO VILA,5,Excellent\nNice and good 👍 personal working th...,No,0x88d9b7a4d8c67e39:0xc813abb5511d8ccb,Taco Bell,Mexican restaurant,Miami,Florida,2021-02-21,19,Sunday,4.0
9556,1.140334e+20,Christopher Lares,5,#1 great staff and also food quality has been ...,No,0x88d9b7a4d8c67e39:0xc813abb5511d8ccb,Taco Bell,Mexican restaurant,Miami,Florida,2021-03-04,10,Thursday,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10087,1.021051e+20,Karen Benavides,3,None,No,0x88d9b7a4d8c67e39:0xc813abb5511d8ccb,Taco Bell,Mexican restaurant,Miami,Florida,2018-12-21,20,Friday,4.0
10088,1.048217e+20,Milton Ruiz,3,None,No,0x88d9b7a4d8c67e39:0xc813abb5511d8ccb,Taco Bell,Mexican restaurant,Miami,Florida,2020-12-26,12,Saturday,4.0
10089,1.112424e+20,Lazaro Garcia,5,None,No,0x88d9b7a4d8c67e39:0xc813abb5511d8ccb,Taco Bell,Mexican restaurant,Miami,Florida,2020-02-19,10,Wednesday,4.0
10090,1.153164e+20,Marco Farah,3,None,No,0x88d9b7a4d8c67e39:0xc813abb5511d8ccb,Taco Bell,Mexican restaurant,Miami,Florida,2019-04-20,8,Saturday,4.0
10091,1.133527e+20,Kaidan Hernadez,4,None,No,0x88d9b7a4d8c67e39:0xc813abb5511d8ccb,Taco Bell,Mexican restaurant,Miami,Florida,2018-05-21,11,Monday,4.0

### Scraping google Sitios

In [10]:
# Read the parquet file into a DataFrame
ScrapGoogleSitiosdf = pd.read_parquet('5.Scraping_sitios_google.parquet')

# Display the DataFrame
display(ScrapGoogleSitiosdf)

,name,gmap_id,latitude,longitude,category,avg_rating,num_of_reviws,city
0,El Cilantrillo Restaurant,0x88e77dddfa7e805d:0xf115633fcf003d5,28.4501349,-81.3969286,Restaurante puertorriqueño,4.6,3725,Orlando
1,Rusty Pelican Miami,0x88d9b5ce30dc6373:0xb44eee30744447fe,25.7478726,-80.1756055,Marisquería,4.7,17313,Key Biscayne
2,CVI.CHE 105,0x88d9b69e13f63e97:0xf33305312982752d,25.7754765,-80.1884418,Restaurante peruano,4.8,20366,Miami
3,Bolivar Restaurant Bar,0x88d9b48d331b8829:0x5596e06af04e632f,25.779079,-80.1329652,Restaurante colombiano,4.5,2321,Miami Beach
4,Crazy About You,0x88d9b681bd4b567b:0x4eef938c35d01d59,25.7620008,-80.1889886,Restaurante americano,4.7,11348,Miami
...,...,...,...,...,...,...,...,...
115,Casita Tejas Mexican Restaurant,0x88d9e740086e63af:0x640fb304b68f804c,25.4704744,-80.4771906,Restaurante tex-mex,4.3,1606,Homestead
116,BACÁN,0x88dd89c0e8c9326b:0x64b95017c8e50fbc,28.3738554,-81.2815686,Restaurante latinoamericano,4.6,549,Orlando
117,Burger King,0x88de69862930a12d:0xb89855564d571f57,27.840249,-80.487037,Restaurante,3.1,372,Sebastian
118,Ponderosa Steakhouse,0x88dd7ebaf9deb90f:0x9ee7bac84e298a1c,28.3333706,-81.5899512,Restaurante especializado en filetes,3.7,4299,Kissimmee
119,TGI Fridays,0x88e77ec3b32fe637:0xb7b44841c17aa3a5,28.477045,-81.4576029,Restaurante,3.8,4729,Orlando

### SITIOS GOOGLE

In [11]:
# Read the parquet file into a DataFrame
Sitiosdf = pd.read_parquet('4.Sitios_google.parquet')

# Display the DataFrame
display(Sitiosdf)

,name,gmap_id,latitude,longitude,category,avg_rating,num_of_reviews,city,state_us
0,Baby Food Grill & Bar,0x88d9ab98b5baad79:0x1a2e3f0642a55246,26.010250,-80.148659,Mexican restaurant,3.0,2,Hollywood,FL
1,Tacos Mexican Restaurant,0x88c28d5c25300001:0x860bd1bd2442afb1,28.126894,-82.740741,Mexican restaurant,4.0,2,Tarpon Springs,FL
2,Baby Food Grill & Bar,0x88d9ab98b5baad79:0x1a2e3f0642a55246,26.010250,-80.148659,Mexican restaurant,3.0,2,Hollywood,FL
3,Tacos Mexican Restaurant,0x88c28d5c25300001:0x860bd1bd2442afb1,28.126894,-82.740741,Mexican restaurant,4.0,2,Tarpon Springs,FL
4,Cinco hermanos taqueria,0x88d9c587d322385b:0x25713d15aff7bd75,25.598901,-80.354440,Mexican restaurant,4.3,8,Miami,FL
...,...,...,...,...,...,...,...,...,...
620,3 Cuates,0x88d9ab7541863755:0x7fa9645b57a82eac,25.994766,-80.181547,Mexican restaurant,4.6,34,Pembroke Park,FL
621,Pancheros Mexican Grill,0x88ded5857c51c461:0xe3fbd5a98402bcf8,26.884300,-80.107170,Mexican restaurant,4.3,292,Jupiter,FL
622,Nopal by Cintrón,0x88e8a5fd23830521:0x1bcf6fac3fda23a6,29.702490,-82.367368,Mexican restaurant,4.3,68,Gainesville,FL
623,Arubas Bar and Grill,0x88dc0bad89bae823:0x1188c3ae1afae805,26.973720,-81.116923,Mexican restaurant,4.9,57,Moore Haven,FL
624,La Malquerida Restaurant & Tienda Avon Park,0x88dc558ce8f351c5:0x222764e975d2ef77,27.596157,-81.508295,Mexican restaurant,4.2,112,Avon Park,FL

In [12]:
#mostrar cuantos valores unicos tiene la columna name en Sitiosdf
Sitiosdf['name'].nunique()

549

In [13]:
#mostrar cuales valores unicos tiene la columna name en Sitiosdf
Sitiosdf['name'].unique()

array(['Baby Food Grill & Bar', 'Tacos Mexican Restaurant',
       'Cinco hermanos taqueria', 'Tacqueria Arandas',
       'Starlight Restaurant & Lounge', 'Los Tacos By Chef Omar',
       'LOS COMPADRES', 'Antojitos Mexicanos', 'El Burro Loco',
       'Pico de Gallo', 'The Feisty Bull', "Tia's Tex Mex",
       'La Sabrosa Grocery & Restaurant Middleburg',
       'El Charro Tapatio (Tacos y Antojitos)', 'El Burrito',
       'La Siesta Taqueria', 'Casa Del Taco', 'Fortino Mendez Tacos',
       'Los Perez Family Restaurant', 'TAQUERIA EL PAISANO ON THE BEACH',
       'TAQUERIA', 'Tortilleria La Guerrera', 'El Milagro Mexican Store',
       'La Tapatia', 'Taco Fiesta', "Pilo's Tequila Garden", 'Old Mexico',
       'Taco Mez', "Beto's Tacos", "Don Julio's (WIMAUMA)",
       'Los Potosinos', 'Taco Bell', 'Tacos El Rey', 'Taco Rico',
       'El Tapatio', 'Mr.Taco Mexican Grill', 'Baja Fresh Mexican Grill',
       'Taqueria Guanajuato', 'La Brisa Tacos y Mariscos',
       'Los Amigos Mexican Restaurant', 'La Zeta Mexicana',
       "Gaviota's food", 'Islands Cantina', 'Mexiote',
       'La Sierra - Mexican Restaurant & Bar',
       'Gustitos Helados y Raspados', 'Restaurante LA ESPERANZA',
       'CubaMex Deli / Tacos And More!!',
       "Lorita's Fresh Mexican Food . Cafe", 'El Señor De Los Raspados',
       'Las Palomas Latin Market', 'Xiscali mexican taqueria',
       'Rancho Mexicano', "JUANITA'S AUTHENTIC MEXICAN RESTAURANT",
       'Fiesta Food Market', "Elsa's Mexican Restaurant & Sports Cantina",
       'TRES AMIGOS TAQUERIA', 'Ojo de Agua Brickell', 'Hello taco',
       'TACO ISLAND', 'Little Mexico Restaurant', "Angela's Kitchen",
       'Surcheros Fresh Mex', 'Los Laureles Authentic M',
       'Tacos El Borracho', 'Carniceria Monterrey Inc', 'My Ceviche',
       'Taco del mar', 'Masa Restaurant', 'MI MEXICO LINDO',
       'Montezuma Mexican Restaurant', 'Taco Tacu',
       'Zacatecas Restaurante Y Taqueria, Inc.',
       'El Gran Taco Bar & Grill', 'La Mexicana Cantina & Grill',
       'Taqueria margarita', '4R Cantina', 'La Catrina Mexican Grill',
       "Juliana's Mexican Restaurant", 'Casa Linda Lake Worth',
       'Masa Taqueria Miami Beach', "Maestro's Mexican Restaurant",
       'Garibaldi Bakery and Mexican Restaurant',
       'St. George Cantina & Margarita Bar',
       'Santa Catrina Mexican Cuisine', 'La Playa De Miami', 'Taco Mora',
       'Restaurant Acapulco llc.', 'That Taco Place',
       'Vuelo Mexican Grill', 'Las Carretas Mexican Restaurant',
       'El Molino Restaurant', 'Taqueria La Bendicion Taco Truck',
       'Las Cazuelas', 'The Little Store', 'Taqueria El Chuy',
       'El Tamaulipeco', 'Suegra Tequila Cantina',
       'Paradise World Foods & Smoothies', 'Restaurant Jalisco',
       'Cafe Tecun', 'Lime Fresh Mexican Grill', 'Tacos El Rancho',
       'Chipotle Mexican Grill', 'Taqueria San Jose', 'La Eskinna',
       'Taco Shop Miami Lakes', 'Canta y No Llores', 'Table 427',
       'Mole Cantina Mexicana', 'El Jaliciense', 'Super Tienda Latina',
       "Don Pablo's", 'Cantina Sol', 'Rio Mexican Grille',
       'Vero’s Bar and Grill', 'Taco Casa',
       'El Chipotle Latin Restaurant', 'California Tortilla',
       'Authentic Mexican Food', 'Botanas La Herradura Tienda Mexicana',
       'Frida Luna Mexican Grill', 'El Toro Loco',
       'Xiscali Mexican Restaurant', 'El Diamante Restaurant',
       "Chula's by Rita", "Garcia's Tacos",
       'LA MARIPOSA MEXICAN RESTAURANT', 'Mexican Food Truck',
       "Q'Salsas Restaurant", 'Tacos Al Carbon & Pizza',
       "Juanita's Mexican Food", 'Restaurante el nopal#1',
       'Tortilleria Gallo de Oro', 'Tariacuri Restaurant',
       "Taqueria Olgy's", 'El charro tapatío restaurant', "Norma's Place",
       'Guadalupana', "Q'Delicia", 'TACARÍA', 'Taquitos Mi Mexico',
       'El Tucanazo Restaurant Bar', 'El Jalisco Blountstown',
       'Crystal Agave Mexican Grill', 'Smart Dollar Store',
       'Tacos dos potrillos',
       'Fonda Familiar Mexican Restaurant Homestead', 'BC Tacos',
       'El Zarape II Mexican Restaurant',
       'Margarita’s Mexican Restaurant', 'Paradise Grill (Members Only)',
       'Tacos Gone Mobile Authentic Mexican Food',
       'Azteca Mexican Store II', 'Casa Mexicana Restaurant',
       'Taqueria San Martin', 'The Iron Daisy',
       'MI ZARAPE SPORTS BAR & GRILL', 'TIENDA MEXICANA JALISCO',
       'Taqueria Jalapeños (LaBelle)', 'La Mexicana Supermarket',
       'Felipe Rodriguez Tequila House', 'Cali Street Tacos',
       'PRIMA MARKET TAQUERIA', 'Mayan Cafe', 'Rose Nails',
       'Mi Raza Restaurant', '3rd Street Cafe', 'Taco Rey Mexican Grill',
       'Alamo Mexican Kitchen', 'Panaderia Y Pasteleria Ahtziri',
       'Agave Taco Bar - Davie East', 'Tacos Jalisco', 'Plaza Mexico',
       'Casa Jimenez Mexican & Latin Cuisine', 'Ranchero Cafe Restaurant',
       'Coffees Carmen', 'Mexican Tacos & Bar', 'La Fontana Grill',
       'Agave Azul Mexican Cuisine', 'Panaderia La Mexicana',
       "Carniceria y Taqueria Franco's", 'Agave Mexican Grill',
       'Mezcal Mexican Grill', 'Sweeto Burrito Jax',
       'Taqueria Los Nopales', 'Rincon Caribeno', 'CHAVO',
       'Restaurante La Rancherita', "J.baja's Mexican Grill",
       'Mi Ranchito Mex', '2 Brothers Food and Grocery', 'El Primo Tacos',
       "Eru's Mexican Gril & Taqueria", 'Mexico1810 Taqueria',
       "Fina's Tacos & More", 'La Estrellita', '98Forty Tapas & Tequila',
       'Tacos Leah', 'HotLime Tacos & Ceviches - MIA Market',
       'Las America.s', 'Mexico Bravo Now MEX Mexican Grill',
       'Ay Jalisco Mexican Restaurant', 'El Taco Mex', 'Kings Tacos',
       'TIERRA BLANCA MEXICAN STORE INC.', 'tacobell',
       'The Breeze Waterfront Café', 'Cannery Lane Cantina',
       'Piko de Gayo', 'Olmeca Mexican Food', 'Taqueria Rosita#2',
       "Pancho's Backyard", 'taqueria la mexicana', 'Taqueria Gonzalez',
       'Chips Salsa', 'Taqueria los Jalapenos', 'Los Rancheros',
       'Rancho Viejo', 'Camaleon Mexicana',
       'FIESTA CANCUN MEXICAN RESTAURANT *NOW OPEN* We want to bring you the true feeling of Mexico. We are a family owned business.',
       'Don martin modern mexican cuisine llc', 'La Cantina de San Angel',
       'LA MORENITA Y EL QUETZAL GROC',
       'Mexican Food Tacos Y Antojitos CIELITO LINDO',
       'TacoSchool El Compadre', 'The Taco Joint', 'LA CATRINA TAPATIA',
       'Restaurante Latinoamerica', 'EL CAMION DEL TACO',
       'Loco Bros Mexican Grill', 'Taqueria Remis', "Chico's Tequila Bar",
       'El Tequila Mexican Restaurant', 'Taco Riendo', 'El Torito',
       'TACO FIESTA', 'S & S Tacos', 'Los Jarritos Restaurant',
       'Restaurante Sabor Latino Mex', 'Tacos Daniel', 'Coyo Taco',
       'Rocket Tacos', 'The Hungry Parrot', 'Tacos & Tortas By Bro',
       'Taqueria Arreola', 'La Casa del Huarache Los Angeles',
       'Taqueria Estrella', 'Pasilla Tacos',
       'Bunfire Tacos - Delivery Available', 'Nopal De Guerrero',
       'Cabana Beach Club', 'Hot Taco Street Taqueria',
       "K' Rico's Restaurant", "Fuzzy's Taco Shop",
       'El Zarape Mexican Restaurant', 'Señor Taco', 'Birria1983',
       'Arroz', 'El Gran Taco Loco', 'Las Maracas', 'Olla Miami',
       'Cuban-Mexican Food', 'Dos Sabores Restaurant',
       'El Patio De Mexico', "Lily's Tacos To Go",
       'El Paso Meat Market and Restaurant',
       'El King Taqueria Food Truck', 'Taqueria Lopez',
       'Las Gordas Mexican Food', "Big C's Cafe", "Moe's Southwest Grill",
       'Marialicias Mexican Restaurant', 'Mi Tierra Mexican Restaurant',
       'Tacos La Costeña', "Dona Sol Taco's", 'MexZican Gourmet',
       'Los Rancheros Mexican Restaurant',
       'Mi Jalisco Mexican Restaurant',
       'Gringos Locos Amway (3 & 5 level)', 'Nacho Cafe', 'Tacos Volcan',
       "Don Pedro's Tacos", 'La Poblanita Taquería & Antojitos',
       'El Pirata Mexican Restaurant', 'Azteca Market 5',
       'La cabaña Restaurante & Panadería', 'Chilito Green',
       'Mariachi loco', "AMY'S KITCHEN AND FOOD MART", 'La Razita',
       'La Placita', 'Tacos & Tattoos Lincolns Beard',
       "Carolina's Gifts & Decor", 'Las Lomas Mexican grill',
       'La Placita Mexico Supermarket', "Inez's Kitchen",
       'Holy Guacamole Miami', 'Latin Food Blessing',
       'El Mezcal Mexican Restaurant', 'Antojitos Mexicanos Tenorio',
       'Taqueria San Marcos', 'Mister Taco', 'El Tacazo Taco Shop',
       '101 Cantina', 'Tacos Padrisimo', 'Anejo Cocina Riverside',
       'Fresh Taqueria', 'La Tienda Mexicana', 'Taqueria La Cabana',
       'Beatriz Cilantro Salsa Corporation', 'Cancun grill tampa',
       'Miami River II Mexican Cuisine',
       'Casa Viva Indian & Mexican Cuisine', "Down N' Dirty Tacos",
       'Chihuas Tacos', 'Rincon Tolteca Mexican restaurant corp',
       'Taqueria Jalisco', 'Chevys Fresh Mex',
       'Lolita resturant-Comida Mexicana', 'Passion & Beyond Kitchen',
       'Taco Del Mar', 'Senor Tequila Mexican Grill - Wesley Chapel',
       "Lupita's Mexican Kitchen", 'Chipotle',
       'Tacos Al Carbon - Carniceria', "Chili's Grill & Bar",
       'Vamonos Mexican Taqueria', 'Real Del Monte Mexican Restaurant',
       "Pepper's Taqueria and Cantina", 'Casa Maria Express',
       'Mexican Cuban Antojitos', 'Taqueria El Molcajete',
       'Antojitos Mexico Lindo', 'Golden Tequila Mexican Restaurant',
       'El Rancho Mexican Grill', 'Casa De Don Juan', 'Red Roc Cravings',
       'Taquería Esperanza Authentic Mexican Food',
       'Kevin food mart Mexican restaurant',
       'Fire Spot Mexican Bar & Grill',
       'Tacomoquieres Authentic Mexican Food and Street Tacos.',
       'BEST LATIN MINI MART', 'Taco Bus', 'Tienda Latina Casa Maya',
       'Quesa Loco Food Truck', 'Guacamole by chef Omar',
       'La Gloria Mexican Restaurant-Pinellas Park', 'Goyo El Pollo',
       'La Mexicana Grocery Y Taqueria', 'Taqueria El Pelon', 'Tacogüey',
       'Taqueria La Bendicion de Dios', 'La Mina Restaurante',
       'Mariscos El Oceano', 'Iris Mexican Restaurant',
       'La Fuente Tacos and Tequila | South Daytona | Port Orange',
       'Taqueria La Perla', 'Taquitos Jalisco', 'Yamis Ice Cream Shop',
       "Maria's Taqueria", 'Doña kitchen',
       'San Isidro store,restaurant,Bakery', 'Mercadito Midtown',
       'Las Delicias', 'Tortilleria La Guera', 'El Paso Supermarket',
       'Bad Hombres Mexican Restaurant', "Maya'mi Cocina",
       'Blue Agave Mexican Steakhouse', 'MEX FIESTA GRILL',
       "Julio's Restaurant and Meat Market", 'Tienda Latinos',
       'Coastal Taco', 'Dos Caminos', 'The Fed Food & Drink',
       'Tacos Y Mas', 'Sabor Fresh Mexican Food',
       'Taqueria Guanajuato FoodTruck', "Salsa's Mexican Restaurant",
       'Tacos "La Placita"', "Paco's Mexican Restaurant",
       'Toluca Tienda Mexicana', 'La Pasadita', 'Baja Fresh',
       'XT Munchies', "Camacho's Best Tacos",
       'Que Pasa!! Fresh- Mexican Grill & Cantina',
       'La Parada Mexicana Deli Meat', 'Acapulco Cafe',
       'Sabor La Esquina Del', 'DF MEXICAN RESTAURANT',
       'Silvias Tienda Maxicana', 'Barbacoa Mexican Grill', 'Burrito 101',
       'TENANGOS TAQUERIA', 'Salsa Fiesta',
       'El Tropico Paleteria Taqueria',
       'El Kantinflas Flowers and Fruits Shop',
       'Gonzalos Taqueria Y Carnitas', 'El Guacamole', 'Azteca Rojo',
       'Mr. Taco', 'Cieladitos', 'Tienda Mexicana Hidalgo',
       'El Rincon Latino de Melbourne', 'El Dorado Mexican Restaurant',
       'La Carreta de Yefri', 'Bigote Cafeteria', 'Chulas',
       'TEKILA GRILL MEXICAN RESTAURANT',
       'Lime Fresh Mexican Grill - Downtown Miami',
       'La Placita Mexican Food', 'Guadalajara Mexican', 'Twice butter',
       'La Pitaya', 'Amigos Original Tex Mex Restaurant', 'Agave',
       'Chilakil', 'La Finca Mexican Grill',
       "Escobar's Mexican Restaurant", 'M & F International Restaurant',
       'Dos Gringo Tacos', 'Tex Kitchen', 'Taqueria Mexicana',
       'El Catrín Mexican Grill', 'Cabo Flats - Stuart', 'El Norteno',
       'El Taco Regio', 'Mi Casa', 'Taco Bus Miami', "Maria's Cantina",
       "Lolo's Kitchen", 'Jusal Tacos Y Mas', 'El Patio',
       'Mexican Restaurant', '“Tacos El Patrón” Mexican Food Truck',
       'Taqueria Familiar', 'Sr. Tequila Mexican Grill',
       'Señor Taco Mexican Restaurant', "Carmelita's Mexican Restaurant",
       'King Tacos', 'Casa Linda', 'Los Magueyes Crystal River',
       'Ay Jalisco', 'Old Town Mexican Cafe', 'El Tarasco',
       'Ayaleros Tex Mex Cuisine', 'LST @ TW',
       'Guanajato Mexican Restaurant', 'MexiGO Mexican Grille',
       'Mexican Restaurant La Reina de Mexico', 'La Michoacana',
       'Los Taquitos Mexican Food', 'Tacos San Miguel Food Trailer',
       'Tequila Veintiuno Mexican Cuisine', 'Los Compadres',
       'El Sabor De La Vida Restaurant',
       "Tres Amigo's Authentic Mexican Restaurant",
       'Don Taco Charro Taco Truck', 'Pica Pollo La Alta Gracia',
       "Rubio's Coastal Grill", "Poppo's Taqueria Outpost",
       'in-n-out taco', 'Taco Wings N Things', 'La Casa De Frida',
       'Chuchos Tacos', 'Taqueria La India Bonita (Taco Truck)',
       'Island House Taqueria', 'Tacos Gone Mobile',
       "Bucho's Mexican Bar & Grill", 'Las Reynas Swap Shop',
       'Garcia Plaza Bakery 2, Inc', 'El Korita', 'Taco Fresh Restaurant',
       "Lupita's Mexican Fast Food Express", 'Taco Del Ray',
       'Tacos La Bella', 'Encanto Mexicano', 'Plaza Jalisco II',
       "Armando's Cocina Mexicana", 'Castaways TacoRita and Beach Bar',
       'Taqueria El Taco Veloz', 'La Pequena', 'Las 3 rosas taqueria',
       'Taco 71', "Pilo's Street Tacos SoBe",
       'La Tapatia II Tienda Mexicana', "J.A.C.'S Corner",
       'Tacos estilo jalisco', 'Tacos. "La Chaparitta"',
       'Ramirez Restaurant', 'A Taco by Divino', "Bubbakoo's Burritos",
       'Atlixco Foods Inc', 'Mr Shot Cantina', 'Taqueria Taco Riendo',
       "Ed's Food Store - 10th Ave", 'Tortilla Rica', 'Gypsy Fresh Grill',
       'El Dorado 305', 'Bamboléo Cocina Y Mezcaleria', 'Taco Tuzo',
       'Mariscos La Costena', "Gia's Blue Water Taqueria",
       'Taqueria Azteca Orlando', 'El Señor de Los Tacos',
       'El Punto Latino', 'Tacos Chiapas', 'Tacos La Milpa',
       'Taqueria Miranda (Tallahassee)',
       'Casa Grande Margaritas & cocina', 'LOS REYES',
       'Casita Nica Restaurant', 'Mi Gente Taqueria and Supermarket',
       'Plaza Mexico Restaurant Bar & Grill',
       'Santa Fe Mexican Bar and Grill',
       'El Ranchito Meat Market & Restaurant',
       'Los Tacos - Miami Springs', 'San Miguel Mexican Grill',
       "Moe's Southwest Grill - Temporary Closed Until 1/8",
       'Casa Ramos Mexican Restaurant', 'Bonita Bakery',
       'Takote Chill n Go', 'tienda la mexicana', 'Taco De Oro',
       'Taste Of Colombia And Mexico', 'The Cactus Truck', 'Cocina Aqui',
       'Taqueria La Escondida', 'Palm Beach Tacos',
       'La Reina Del Sur Cafeteria', 'Taco Express',
       'El Maguey MiniMarket', 'Crystal Mexican Market',
       'QDOBA Mexican Eats', 'Juan`s Mexican Grill Oldsmar',
       'La Monarca Tienda Latina', 'Tacos Vallarta', 'Avocado Cantina',
       'La Chiquita', 'El Pacifico Grill', 'El Coyote',
       "Mojo's Tacos-Mainland", '3 Cuates', 'Pancheros Mexican Grill',
       'Nopal by Cintrón', 'Arubas Bar and Grill',
       'La Malquerida Restaurant & Tienda Avon Park'], dtype=object)

In [14]:
#mostrar cuandos business_name = Taco Bell hay en sitiosdf
Sitiosdf[Sitiosdf['name'] == 'Taco Bell'].shape[0]

23

### Users Yelp

In [15]:
# Read the parquet file into a DataFrame
userdf = pd.read_parquet('0.user_yelp.parquet')

# Display the DataFrame
display(userdf)

                      user_id  user review count  avg user stars
0      rppTTi-kfF8-qyiArNemag                460            3.33
1      2Od6rQYNvPUXQC2Go7vIqg                986            3.63
2      BgZwJBhVWKq1Urs4rKBdiA               1545            3.51
3      FdZumOby8Mx4IkdhYVfyRQ                 20            4.10
4      kLm3B6LeboEZWX_4otpILA               1670            3.65
...                       ...                ...             ...
31839  j1sRA3sCHLDDN9P2J1lGhw                 20            3.15
31840  7tQqp2T-2zD04uE9UvCXIg                 22            3.65
31841  oYll_Yz0j8aZVQuCSAElaQ                  1            5.00
31842  t90vh4t8L7_OIUE9y69yLQ                  1            1.00
31843  WL2Wj9R_TKJRH1Mqj3YXjg                  2            5.00

[31844 rows x 3 columns]

### UNION YELP

In [223]:
#Unir las tablas business.parquet con la tabla review.parquet a traves del campo business_id 
#Necesito que queden los siguientes campos de la tabla business.parquet:
#Business_id, Name,City, Latitude, longitude, Stars business
#Y los siguientes campos de la tabla reviews.parquet: Text, Stars review, Fecha review
#y guardar el resultado en un data frame de pandas llamado modelo_regresion_df y luego pasar a un archivo parquet llamado modelo_regresion.parquet

In [224]:
# Merge the businessdf and reviewdf dataframes on the 'business_id' column
modelo_regresion_yelpdf = pd.merge(businessdf[['business_id', 'name', 'city', 'latitude', 'longitude', 'stars business']],
                               reviewdf[['business_id', 'text', 'stars review', 'fecha review']],
                               on='business_id')

# Save the merged dataframe to a parquet file
modelo_regresion_yelpdf.to_parquet('modelo_regresion_yelp.parquet')

In [225]:
modelo_regresion_yelpdf

,business_id,name,city,latitude,longitude,stars business,text,stars review,fecha review
0,aNtKyc2rr-uK5cqzY9TVQQ,Chipotle Mexican Grill,Largo,27.894167,-82.779866,3.0,The New Chipotle Mexican Grill conveniently lo...,4,2017-08-30
1,aNtKyc2rr-uK5cqzY9TVQQ,Chipotle Mexican Grill,Largo,27.894167,-82.779866,3.0,I am a chipotle enthusiast but from the first ...,5,2018-01-18
2,aNtKyc2rr-uK5cqzY9TVQQ,Chipotle Mexican Grill,Largo,27.894167,-82.779866,3.0,Went into this location about an hour before t...,5,2018-09-08
3,aNtKyc2rr-uK5cqzY9TVQQ,Chipotle Mexican Grill,Largo,27.894167,-82.779866,3.0,I come to this chipotle often and it's one of ...,5,2019-06-24
4,aNtKyc2rr-uK5cqzY9TVQQ,Chipotle Mexican Grill,Largo,27.894167,-82.779866,3.0,"The food is good, as per usual at any Chipotle...",2,2018-06-20
...,...,...,...,...,...,...,...,...,...
46248,0a9Miij7BFmKm83Iqni5sA,Capital Tacos,Wesley Chapel,28.186629,-82.366184,4.0,Not to impressed by this place at all. Stoppa...,3,2017-03-06
46249,0a9Miij7BFmKm83Iqni5sA,Capital Tacos,Wesley Chapel,28.186629,-82.366184,4.0,I used to go to the Land O Lakes location when...,4,2021-11-21
46250,0a9Miij7BFmKm83Iqni5sA,Capital Tacos,Wesley Chapel,28.186629,-82.366184,4.0,I've eaten here twice since they opened in the...,5,2019-02-23
46251,0a9Miij7BFmKm83Iqni5sA,Capital Tacos,Wesley Chapel,28.186629,-82.366184,4.0,Best tacos in the Tampa Bay Area hands down. ...,5,2020-10-08
46252,0a9Miij7BFmKm83Iqni5sA,Capital Tacos,Wesley Chapel,28.186629,-82.366184,4.0,I have been annoyed once or twice but overall ...,5,2018-09-30

In [226]:
#mostrar por city unica, la cantidad de que tienen de Taco Bell en su 'name' en modelo_regresion_yelpdf
modelo_regresion_yelpdf[modelo_regresion_yelpdf['name'] == 'Taco Bell'].groupby('city').size()

city
Arbors at Freedom Plaza      8
Bayonet Point               16
Brandon                     61
Citrus Park                 17
Clearwater                  92
Dunedin                     27
Holiday Village             24
Jasmine Estates             17
Kenneth City                13
Largo                       34
Lutz                        48
New Port Richey             32
Oldsmar                     16
Palm Harbor                  7
Pinellas Park               16
Plant City                  13
Port Richey                  7
Riverview                   58
SD                         127
Saint Petersburg           119
Seffner                     15
Seminole                    21
Spring Hill                 17
Tampa                      203
Tarpon Springs              19
Temple Terrace              21
Wesley Chapel               15
dtype: int64

### UNION GOOGLE

In [227]:
#mostrar por city unica, la cantidad de que tienen de Taco Bell en su business_name
reviewsfloridadf[reviewsfloridadf['business_name'].str.contains('Taco Bell')].groupby('city').size()

city
Boynton Beach         13
Bradenton            468
Brandon              622
Daytona Beach        689
Fort Lauderdale      879
Gainesville          404
Jacksonville         721
Keystone Heights      18
Lake Wales           510
Lantana              680
Leesburg              20
Miami                540
Miramar Beach         13
North Miami          604
Oldsmar              187
Orange Park           64
Orlando             1315
Pensacola            751
Riviera Beach        450
Seminole             786
St. Petersburg       676
Tarpon Springs       562
dtype: int64

### RENOMBRO COLUMNAS GOOGLE

In [228]:
'''Cambiar los nombres de los siguientes campos de la tabla modelo_regresion_googlepdf:
business_id -> business_id
business_name -> business_name
city -> city
latitude -> latitude
longitude -> longitude
avg_rating -> business_rating
text -> review_text 
rating -> review_stars
date -> review_date'''

'Cambiar los nombres de los siguientes campos de la tabla modelo_regresion_googlepdf:\nbusiness_id -> business_id\nbusiness_name -> business_name\ncity -> city\nlatitude -> latitude\nlongitude -> longitude\navg_rating -> business_rating\ntext -> review_text \nrating -> review_stars\ndate -> review_date'

In [229]:
reviewsfloridadf = reviewsfloridadf.rename(columns={
    'business_name': 'business_name',
    'city': 'city',
    'avg_rating': 'business_rating',
    'text': 'review_text',
    'rating': 'review_stars',
    'date': 'review_date'
})

In [230]:
reviewsfloridadf

,user_id,user_name,review_stars,review_text,resp,gmap_id,business_name,category,city,State_review,review_date,hour,day,business_rating
0,1.176490e+20,Jane Cook,5,any time we are in Pompano Beach we go for lun...,No,0x88d90319155c44a9:0x9abfade11830d0ca,Starlight Restaurant & Lounge,Mexican restaurant,Pompano Beach,Florida,2015-05-25,17,Monday,3.8
1,1.041909e+20,Mark Felix,4,Good service. Food was so so.,No,0x88d90319155c44a9:0x9abfade11830d0ca,Starlight Restaurant & Lounge,Mexican restaurant,Pompano Beach,Florida,2017-11-14,9,Tuesday,3.8
2,1.121549e+20,Yanio w Alfonso,1,Nasty place and very expensive.,No,0x88d90319155c44a9:0x9abfade11830d0ca,Starlight Restaurant & Lounge,Mexican restaurant,Pompano Beach,Florida,2018-08-19,6,Sunday,3.8
3,1.126933e+20,Carlos San Luis,5,Good mexican food,No,0x88d90319155c44a9:0x9abfade11830d0ca,Starlight Restaurant & Lounge,Mexican restaurant,Pompano Beach,Florida,2018-01-01,15,Monday,3.8
4,1.131080e+20,Maigra Hernandez,5,Tacos were great,No,0x88d90319155c44a9:0x9abfade11830d0ca,Starlight Restaurant & Lounge,Mexican restaurant,Pompano Beach,Florida,2018-03-04,15,Sunday,3.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67320,1.134588e+20,Ade,1,None,No,0x88d9bf290ee132e7:0x771f3f6950e264db,Taco Bus Miami,Mexican restaurant,Miami,Florida,2020-04-01,3,Wednesday,4.4
67321,1.182218e+20,Ambar Escribano,5,None,No,0x88d9bf290ee132e7:0x771f3f6950e264db,Taco Bus Miami,Mexican restaurant,Miami,Florida,2021-03-31,20,Wednesday,4.4
67322,1.175239e+20,Johana Murillo,5,None,No,0x88d9bf290ee132e7:0x771f3f6950e264db,Taco Bus Miami,Mexican restaurant,Miami,Florida,2020-09-14,18,Monday,4.4
67323,1.045610e+20,Robert Angulo,5,None,No,0x88d9bf290ee132e7:0x771f3f6950e264db,Taco Bus Miami,Mexican restaurant,Miami,Florida,2020-09-28,6,Monday,4.4
67324,1.154438e+20,Anthony Porras,4,None,No,0x88d9bf290ee132e7:0x771f3f6950e264db,Taco Bus Miami,Mexican restaurant,Miami,Florida,2021-03-23,2,Tuesday,4.4

In [231]:
reviewsfloridadf

,user_id,user_name,review_stars,review_text,resp,gmap_id,business_name,category,city,State_review,review_date,hour,day,business_rating
0,1.176490e+20,Jane Cook,5,any time we are in Pompano Beach we go for lun...,No,0x88d90319155c44a9:0x9abfade11830d0ca,Starlight Restaurant & Lounge,Mexican restaurant,Pompano Beach,Florida,2015-05-25,17,Monday,3.8
1,1.041909e+20,Mark Felix,4,Good service. Food was so so.,No,0x88d90319155c44a9:0x9abfade11830d0ca,Starlight Restaurant & Lounge,Mexican restaurant,Pompano Beach,Florida,2017-11-14,9,Tuesday,3.8
2,1.121549e+20,Yanio w Alfonso,1,Nasty place and very expensive.,No,0x88d90319155c44a9:0x9abfade11830d0ca,Starlight Restaurant & Lounge,Mexican restaurant,Pompano Beach,Florida,2018-08-19,6,Sunday,3.8
3,1.126933e+20,Carlos San Luis,5,Good mexican food,No,0x88d90319155c44a9:0x9abfade11830d0ca,Starlight Restaurant & Lounge,Mexican restaurant,Pompano Beach,Florida,2018-01-01,15,Monday,3.8
4,1.131080e+20,Maigra Hernandez,5,Tacos were great,No,0x88d90319155c44a9:0x9abfade11830d0ca,Starlight Restaurant & Lounge,Mexican restaurant,Pompano Beach,Florida,2018-03-04,15,Sunday,3.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67320,1.134588e+20,Ade,1,None,No,0x88d9bf290ee132e7:0x771f3f6950e264db,Taco Bus Miami,Mexican restaurant,Miami,Florida,2020-04-01,3,Wednesday,4.4
67321,1.182218e+20,Ambar Escribano,5,None,No,0x88d9bf290ee132e7:0x771f3f6950e264db,Taco Bus Miami,Mexican restaurant,Miami,Florida,2021-03-31,20,Wednesday,4.4
67322,1.175239e+20,Johana Murillo,5,None,No,0x88d9bf290ee132e7:0x771f3f6950e264db,Taco Bus Miami,Mexican restaurant,Miami,Florida,2020-09-14,18,Monday,4.4
67323,1.045610e+20,Robert Angulo,5,None,No,0x88d9bf290ee132e7:0x771f3f6950e264db,Taco Bus Miami,Mexican restaurant,Miami,Florida,2020-09-28,6,Monday,4.4
67324,1.154438e+20,Anthony Porras,4,None,No,0x88d9bf290ee132e7:0x771f3f6950e264db,Taco Bus Miami,Mexican restaurant,Miami,Florida,2021-03-23,2,Tuesday,4.4

In [232]:
#quedarme solo con las columnas 'business_name', 'rating', 'city', 'date', 'text' y 'avg_rating' en reviewsfloridadf
reviewsfloridadf = reviewsfloridadf[['business_name', 'review_stars', 'city', 'review_date', 'review_text', 'business_rating']]
reviewsfloridadf

,business_name,review_stars,city,review_date,review_text,business_rating
0,Starlight Restaurant & Lounge,5,Pompano Beach,2015-05-25,any time we are in Pompano Beach we go for lun...,3.8
1,Starlight Restaurant & Lounge,4,Pompano Beach,2017-11-14,Good service. Food was so so.,3.8
2,Starlight Restaurant & Lounge,1,Pompano Beach,2018-08-19,Nasty place and very expensive.,3.8
3,Starlight Restaurant & Lounge,5,Pompano Beach,2018-01-01,Good mexican food,3.8
4,Starlight Restaurant & Lounge,5,Pompano Beach,2018-03-04,Tacos were great,3.8
...,...,...,...,...,...,...
67320,Taco Bus Miami,1,Miami,2020-04-01,None,4.4
67321,Taco Bus Miami,5,Miami,2021-03-31,None,4.4
67322,Taco Bus Miami,5,Miami,2020-09-14,None,4.4
67323,Taco Bus Miami,5,Miami,2020-09-28,None,4.4
67324,Taco Bus Miami,4,Miami,2021-03-23,None,4.4

### RENOMBRO COLUMNAS YELP

In [233]:
modelo_regresion_yelpdf.rename(columns=
                                {'business_id': 'business_id',
                                 'name': 'business_name',
                                 'city': 'city',
                                 'latitude': 'latitude',
                                 'longitude': 'longitude',
                                 'stars business': 'business_rating',
                                 'text': 'review_text',
                                 'stars review': 'review_stars',
                                 'fecha review': 'review_date'}, inplace=True)

In [234]:
modelo_regresion_yelpdf

,business_id,business_name,city,latitude,longitude,business_rating,review_text,review_stars,review_date
0,aNtKyc2rr-uK5cqzY9TVQQ,Chipotle Mexican Grill,Largo,27.894167,-82.779866,3.0,The New Chipotle Mexican Grill conveniently lo...,4,2017-08-30
1,aNtKyc2rr-uK5cqzY9TVQQ,Chipotle Mexican Grill,Largo,27.894167,-82.779866,3.0,I am a chipotle enthusiast but from the first ...,5,2018-01-18
2,aNtKyc2rr-uK5cqzY9TVQQ,Chipotle Mexican Grill,Largo,27.894167,-82.779866,3.0,Went into this location about an hour before t...,5,2018-09-08
3,aNtKyc2rr-uK5cqzY9TVQQ,Chipotle Mexican Grill,Largo,27.894167,-82.779866,3.0,I come to this chipotle often and it's one of ...,5,2019-06-24
4,aNtKyc2rr-uK5cqzY9TVQQ,Chipotle Mexican Grill,Largo,27.894167,-82.779866,3.0,"The food is good, as per usual at any Chipotle...",2,2018-06-20
...,...,...,...,...,...,...,...,...,...
46248,0a9Miij7BFmKm83Iqni5sA,Capital Tacos,Wesley Chapel,28.186629,-82.366184,4.0,Not to impressed by this place at all. Stoppa...,3,2017-03-06
46249,0a9Miij7BFmKm83Iqni5sA,Capital Tacos,Wesley Chapel,28.186629,-82.366184,4.0,I used to go to the Land O Lakes location when...,4,2021-11-21
46250,0a9Miij7BFmKm83Iqni5sA,Capital Tacos,Wesley Chapel,28.186629,-82.366184,4.0,I've eaten here twice since they opened in the...,5,2019-02-23
46251,0a9Miij7BFmKm83Iqni5sA,Capital Tacos,Wesley Chapel,28.186629,-82.366184,4.0,Best tacos in the Tampa Bay Area hands down. ...,5,2020-10-08
46252,0a9Miij7BFmKm83Iqni5sA,Capital Tacos,Wesley Chapel,28.186629,-82.366184,4.0,I have been annoyed once or twice but overall ...,5,2018-09-30

In [235]:
#hacer un append de las tablas modelo_regresion_yelpdf y reviewsfloridadf y guardar el resultado en un data frame de pandas llamado modelo_regresiondf y luego pasar a un archivo parquet llamado modelo_regresion.parquet
df_modelo1 = pd.concat([modelo_regresion_yelpdf, reviewsfloridadf])
df_modelo1.to_parquet('df_modelo1.parquet', index=False)

In [236]:
df_modelo1

,business_id,business_name,city,latitude,longitude,business_rating,review_text,review_stars,review_date
0,aNtKyc2rr-uK5cqzY9TVQQ,Chipotle Mexican Grill,Largo,27.894167,-82.779866,3.0,The New Chipotle Mexican Grill conveniently lo...,4,2017-08-30
1,aNtKyc2rr-uK5cqzY9TVQQ,Chipotle Mexican Grill,Largo,27.894167,-82.779866,3.0,I am a chipotle enthusiast but from the first ...,5,2018-01-18
2,aNtKyc2rr-uK5cqzY9TVQQ,Chipotle Mexican Grill,Largo,27.894167,-82.779866,3.0,Went into this location about an hour before t...,5,2018-09-08
3,aNtKyc2rr-uK5cqzY9TVQQ,Chipotle Mexican Grill,Largo,27.894167,-82.779866,3.0,I come to this chipotle often and it's one of ...,5,2019-06-24
4,aNtKyc2rr-uK5cqzY9TVQQ,Chipotle Mexican Grill,Largo,27.894167,-82.779866,3.0,"The food is good, as per usual at any Chipotle...",2,2018-06-20
...,...,...,...,...,...,...,...,...,...
67320,NaN,Taco Bus Miami,Miami,NaN,NaN,4.4,None,1,2020-04-01
67321,NaN,Taco Bus Miami,Miami,NaN,NaN,4.4,None,5,2021-03-31
67322,NaN,Taco Bus Miami,Miami,NaN,NaN,4.4,None,5,2020-09-14
67323,NaN,Taco Bus Miami,Miami,NaN,NaN,4.4,None,5,2020-09-28
67324,NaN,Taco Bus Miami,Miami,NaN,NaN,4.4,None,4,2021-03-23

In [237]:
#contar todas los registros que tengan none, null, nan o vacio en alguna columna reviewstext en df_modelo1
df_modelo1[df_modelo1['review_text'].isnull() | df_modelo1['review_text'].isna() | df_modelo1['review_text'].eq('')]

,business_id,business_name,city,latitude,longitude,business_rating,review_text,review_stars,review_date
6,NaN,Starlight Restaurant & Lounge,Pompano Beach,NaN,NaN,3.8,None,5,2018-03-25
7,NaN,Starlight Restaurant & Lounge,Pompano Beach,NaN,NaN,3.8,None,5,2018-01-14
8,NaN,Starlight Restaurant & Lounge,Pompano Beach,NaN,NaN,3.8,None,1,2018-09-02
9,NaN,Starlight Restaurant & Lounge,Pompano Beach,NaN,NaN,3.8,None,5,2017-01-24
10,NaN,Starlight Restaurant & Lounge,Pompano Beach,NaN,NaN,3.8,None,5,2019-01-24
...,...,...,...,...,...,...,...,...,...
67320,NaN,Taco Bus Miami,Miami,NaN,NaN,4.4,None,1,2020-04-01
67321,NaN,Taco Bus Miami,Miami,NaN,NaN,4.4,None,5,2021-03-31
67322,NaN,Taco Bus Miami,Miami,NaN,NaN,4.4,None,5,2020-09-14
67323,NaN,Taco Bus Miami,Miami,NaN,NaN,4.4,None,5,2020-09-28
67324,NaN,Taco Bus Miami,Miami,NaN,NaN,4.4,None,4,2021-03-23

In [238]:
#borrar todas los registros que tengan none, null, nan o vacio en alguna columna reviewstext en df_modelo1 y guardar el resultado en df_modelo2
df_modelo2 = df_modelo1.dropna(subset=['review_text'])
df_modelo2

,business_id,business_name,city,latitude,longitude,business_rating,review_text,review_stars,review_date
0,aNtKyc2rr-uK5cqzY9TVQQ,Chipotle Mexican Grill,Largo,27.894167,-82.779866,3.0,The New Chipotle Mexican Grill conveniently lo...,4,2017-08-30
1,aNtKyc2rr-uK5cqzY9TVQQ,Chipotle Mexican Grill,Largo,27.894167,-82.779866,3.0,I am a chipotle enthusiast but from the first ...,5,2018-01-18
2,aNtKyc2rr-uK5cqzY9TVQQ,Chipotle Mexican Grill,Largo,27.894167,-82.779866,3.0,Went into this location about an hour before t...,5,2018-09-08
3,aNtKyc2rr-uK5cqzY9TVQQ,Chipotle Mexican Grill,Largo,27.894167,-82.779866,3.0,I come to this chipotle often and it's one of ...,5,2019-06-24
4,aNtKyc2rr-uK5cqzY9TVQQ,Chipotle Mexican Grill,Largo,27.894167,-82.779866,3.0,"The food is good, as per usual at any Chipotle...",2,2018-06-20
...,...,...,...,...,...,...,...,...,...
67314,NaN,Taco Bus Miami,Miami,NaN,NaN,4.4,(Translated by Google) The best taco bus foodt...,5,2021-03-13
67315,NaN,Taco Bus Miami,Miami,NaN,NaN,4.4,(Translated by Google) Very rich everything\n\...,5,2021-02-23
67316,NaN,Taco Bus Miami,Miami,NaN,NaN,4.4,(Translated by Google) LITTLE PADDING IN THE T...,3,2021-03-03
67317,NaN,Taco Bus Miami,Miami,NaN,NaN,4.4,(Translated by Google) Excellent food in the b...,5,2020-09-11
67318,NaN,Taco Bus Miami,Miami,NaN,NaN,4.4,(Translated by Google) delicious 😋\n\n(Origina...,5,2020-08-26

In [239]:
df_modelo2.to_parquet('df_modelo2.parquet', index=False)

In [240]:
df_modelo2

,business_id,business_name,city,latitude,longitude,business_rating,review_text,review_stars,review_date
0,aNtKyc2rr-uK5cqzY9TVQQ,Chipotle Mexican Grill,Largo,27.894167,-82.779866,3.0,The New Chipotle Mexican Grill conveniently lo...,4,2017-08-30
1,aNtKyc2rr-uK5cqzY9TVQQ,Chipotle Mexican Grill,Largo,27.894167,-82.779866,3.0,I am a chipotle enthusiast but from the first ...,5,2018-01-18
2,aNtKyc2rr-uK5cqzY9TVQQ,Chipotle Mexican Grill,Largo,27.894167,-82.779866,3.0,Went into this location about an hour before t...,5,2018-09-08
3,aNtKyc2rr-uK5cqzY9TVQQ,Chipotle Mexican Grill,Largo,27.894167,-82.779866,3.0,I come to this chipotle often and it's one of ...,5,2019-06-24
4,aNtKyc2rr-uK5cqzY9TVQQ,Chipotle Mexican Grill,Largo,27.894167,-82.779866,3.0,"The food is good, as per usual at any Chipotle...",2,2018-06-20
...,...,...,...,...,...,...,...,...,...
67314,NaN,Taco Bus Miami,Miami,NaN,NaN,4.4,(Translated by Google) The best taco bus foodt...,5,2021-03-13
67315,NaN,Taco Bus Miami,Miami,NaN,NaN,4.4,(Translated by Google) Very rich everything\n\...,5,2021-02-23
67316,NaN,Taco Bus Miami,Miami,NaN,NaN,4.4,(Translated by Google) LITTLE PADDING IN THE T...,3,2021-03-03
67317,NaN,Taco Bus Miami,Miami,NaN,NaN,4.4,(Translated by Google) Excellent food in the b...,5,2020-09-11
67318,NaN,Taco Bus Miami,Miami,NaN,NaN,4.4,(Translated by Google) delicious 😋\n\n(Origina...,5,2020-08-26

In [241]:
#mostrar cuantas fechas nulas hay en modelo_regresiondf2
df_modelo2['review_date'].isnull().sum()

0

In [242]:
#uardar modelo_regresiondf2 en un archivo csv llamado modelo_regresiondf2.csv
df_modelo2.to_csv('df_modelo1.csv', index=False)

In [244]:
#el promedio de business_rating para todos los business_name que sean Taco Bell
df_modelo2[df_modelo2['business_name'].str.contains('Taco Bell')]['business_rating'].mean()

3.5091990364348087

In [245]:
#el promedio de business_rating para todos los business_name que no sean Taco Bell
df_modelo2[~df_modelo2['business_name'].str.contains('Taco Bell')]['business_rating'].mean()

4.053179015081486

In [246]:
#mostrar los valores unicos de la columna business_rating para los business_name que sean Taco Bell en modelo_regresiondf1 y contar cuantos hay de cada uno
df_modelo2[df_modelo2['business_name'].str.contains('Taco Bell')]['business_rating'].value_counts()

business_rating
3.9    1356
3.8    1090
4.0     781
4.1     628
3.7     602
2.0     512
3.2     416
3.6     330
3.5     271
1.5     267
2.5     170
3.1     113
3.0      69
1.0      17
2.2      12
4.2       8
Name: count, dtype: int64

In [247]:
#mostrar los valores unicos de la columna review_rating para los business_name que sean Taco Bell en modelo_regresiondf1 y contar cuantos hay de cada uno
df_modelo2[df_modelo2['business_name'].str.contains('Taco Bell')]['review_stars'].value_counts()

review_stars
5    2453
1    1660
4    1118
3     889
2     522
Name: count, dtype: int64

In [248]:
#el promedio de business_rating para todos los business_name que sean Taco Bell 
df_modelo2[df_modelo2['business_name'].str.contains('Taco Bell')]['business_rating'].mean()

3.5091990364348087

In [249]:
#el promedio de business_rating para todos los business_name que no sean Taco Bell
df_modelo2[~df_modelo2['business_name'].str.contains('Taco Bell')]['business_rating'].mean()

#La competencia esta teniendo mejor rating que Taco Bell

4.053179015081486

In [250]:
#pasar df_modelo2 a un archivo csv llamado df_modelo2.csv
df_modelo2.to_csv('df_modelo2.csv', index=False)